<h1>Embedding chart with signed parameters</h1>

<h2>Stats for User: <%= userId %></h2>
<h2>chartId: <%= chartId %></h2>

<iframe src="<%= iframeUrl %>"
        width="1200"
        height="800"
        frameborder="0"
        allowtransparency>
</iframe>
