  <link rel="stylesheet" href="layout.css">
  <div class="auth">
        <h2>Sign in</h2>
        <form method="POST" action="/login">
            <input type="text" name="username" value="admin">
            <input type="password" name="password" value="admin">
            <p>You can just hit Login :)</p>
            <button type="submit" class="primary">Login</button>
        </form>
    </div>
